body {
  padding: 0;
  margin: 0;
  background: black;
  color: white;
}

nav {
  position: absolute;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  background: black;
  padding: 5px;
  margin: 0;
  
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  
  width: 100px;
}

nav .active::before {
  content: "> ";
}

a {
  color: white;
  text-decoration: none;
}